<div class="container bg-color-primary">
  <mat-toolbar>
    <nav>
      <a mat-button routerLink="/home" routerLinkActive="active-link">
        <img src="assets/images/infojobs-word.png" alt="InfoJobs logo" class="main-icon-img"/>
      </a>
      <a mat-button routerLink="/home" routerLinkActive="active-link">Buscar empleo</a>
      <a mat-button routerLink="/about" routerLinkActive="active-link">Buscar empresas</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Salarios</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link">Formación</a>
    </nav> 
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>contacts_product</mat-icon>
    </button>
  </mat-toolbar>
</div>