h1{
  font-size: 42px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.container-header{
  margin: 0 auto;
}

.toolbar-header{
    background-color: rgba(0, 0, 255, 0);
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; 
  background-color: transparent !important;
  box-shadow: none !important;
}

mat-toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-toolbar nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 1; /* permite que se encoja si es necesario */
  overflow: hidden;
}

mat-label{
  font-size: 1rem;
}

.main-icon-img {
  width: 120px;   /* prueba con un valor razonable */
  height: auto;
  max-height: 40px; /* no excedas el alto del toolbar */
  object-fit: contain;
  display: block;
}

.spacer {
  flex: 1 1 auto;
}

.form-container{
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 30px;
}

.search-offers{
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.title{
  margin-bottom: 20px;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem
}

.custom-button{
  height: 32px;
}

.bg-white{
  background-color: white !important;
}

.bg-image-header{
  background-image: url('/assets/images/bg-home-full-tv.jpg');
  background-size: cover;
  background-position: center;
}

.search-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button{
  height: 50px;
  width: 100%;
}
