<section class="container">
    <div class="title-container">
        <h2>Sectores con mas oportunidad</h2>
        <a href="https://www.google.com/?hl=es">+ sectores</a>
    </div>
    <div class="row g-3">
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/opportunity/oppor1.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Informática</a>
                    <p>2.909</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/opportunity/oppor2.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Sanidad y salud</a>
                    <p>3.788</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/opportunity/oppor3.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Comercial y ventas</a>
                    <p>6.004</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/opportunity/oppor4.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Directivos</a>
                    <p>707</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>