<section class="container-md">
    <div class="title-container">
        <h2>{{opportSection.Title}}</h2>
        <a href="https://www.google.com/?hl=es">{{opportSection.MoreSectorsBtn}}</a>
    </div>
    <div class="row g-3">
        <div class="col-6 col-md-3 card-container" *ngFor="let item of opportSection.WNoLogSectorItems">
            <mat-card class="card">
                <img mat-card-image [src]="item.ItemBgImgPath" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">{{item.Title}}</a>
                    <p><b>2.909</b></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>