<section class="container">
    <div class="title-container">
        <h2>Encuentra trabajo de...</h2>
        <a href="https://www.google.com/?hl=es">+ filtros</a>
    </div>
    <div class="row g-3">
        <div class="col-6 col-md-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/find/find1.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">35.000€ o mas</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-md-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/find/find2.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Media jornada</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-md-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/find/find3.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Teletrabajo</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-md-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/find/find4.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Directivo</a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>