<section class="container-md">
    <div class="title-container">
        <h2>{{careerSection.Title}}</h2>
    </div>
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let item of careerSection.WNoLogCompanyItems">
            <mat-card class="card-container">
                <img mat-card-image [src]="item.ItemBgImgPath" class="card-image">
                <div class="card-overlay">
                    <div class="row content-card-container">
                        <img [src]="item.ItemBtn" class="col-3 avatar-img" />
                        <div class="col-9">
                            <mat-card-title class="card-company-title">{{item.Title}}</mat-card-title>
                            <mat-card-subtitle>{{careerSection.DefaultOffersQtyText}}</mat-card-subtitle>
                        </div>
                        <div class="card-hide-text">
                            <p>{{item.Description}}</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="more-companies-btn-container">
        <button mat-stroked-button color="primary" class="more-mat-buton">
            <mat-icon>refresh</mat-icon>
            {{careerSection.ShowMoreTextBtn}}
        </button>
    </div>

    <div class="row g-3 align-items-stretch">
        <div class="col-12 col-md-6" *ngFor="let item of careerSection.WNoLogCompanyPublicityItems; let i = index">
            <mat-card class="learn-card h-100" [ngClass]="learnCardClasses[i]">
                <img mat-card-image [src]="item.ItemBgImgPath" class="col-4">
                <mat-card-content class="col-8 learn-card-content">
                    <p class="learn-card-title">{{item.Title}}</p>
                    <p>{{item.Description}}</p>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">{{item.ItemBtn}}</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>