<section class="container">
    <div class="title-container">
        <h2>Trabaja desde casa</h2>
        <a href="https://www.google.com/?hl=es">+ ciudades</a>
    </div>
    <div class="row g-3">
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/place/place1.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Madrid</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/place/place2.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Barcelona</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/place/place3.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Valencia</a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6 col-sm-3 card-container">
            <mat-card class="card">
                <img mat-card-image src="assets/images/home/place/place4.jpg" alt="">
                <mat-card-content class="card-content">
                    <a href="https://www.google.com/?hl=es" class="card-content-text">Bilbao</a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>