<main>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="col-12 d-flex justify-content-center">Anuncio arriba</div>
                <div class="col-12 d-flex justify-content-center">filtros busqueda arriba</div>
                <div class="row">
                    <div class="d-none d-md-block col-md-4">Filtros izquierda</div>
                    <div class="col-12 col-md-8">Lista ofertas central</div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-4">anuncio lateral derecha</div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            Sujerencias abajo
        </div>
    </div>
</main>
