<footer>
    <div class="container-md">
        <div class="row d-none d-md-flex">
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Nosotros</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Ayuda</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Seguridad</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Condiciones Legales</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Política de Privacidad</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Uso de servicio</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Política de cookies</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Mapa web</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Gestionar preferencias y cookies</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Sobre InfoJobs</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs hoy</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Trabaja con nosotros</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Ofertas de empleo</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>+ InfoJobs</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs Awards</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Infojobs Academy</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Orientación laboral</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs Formación</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Blog empresas</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Oferte di laboro in Italia</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Prensa</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Indicadores de Infojobs</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Notas de prensa</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Contacto de prensa</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>


            <div class="external-links-container">
                <div class="social-media-md-container">
                    <div>
                        <span><b>¡Síguenos!</b></span>
                    </div>
                    <div class="social-media-icons-md">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-youtube"></i>
                    </div>
                </div>
                <div class="app-link-md">
                    <div>
                        <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                            <img src="assets/images/footer/gplay_link.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                            <img src="assets/images/footer/app_store_link.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="partner-container">
                <span>InfoJobs es partner de</span>
                <div class="partner-list">
                    <span>JobisJob</span>
                    <span>Fotocasa</span>
                    <span>habitaclia</span>
                    <span>Coches.net</span>
                    <span>Motos.net</span>
                    <span>Milanuncios</span>
                </div>
                <span>© Adevinta Jobs S.L.U.</span>
            </div>
        </div>

        <div class="d-block d-md-none">
            <div class="small-links">
                <span>Ayuda</span>
                <span>Condiciones legales</span>
                <span>Mapa web</span>
            </div>

            <div class="social-media-icons-sm">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter-x"></i>
                <i class="bi bi-youtube"></i>
            </div>

            <div class="app-link-sm">
                <div>
                    <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                        <img src="assets/images/footer/gplay_link.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                        <img src="assets/images/footer/app_store_link.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>