<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Nosotros</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Ayuda</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Seguridad</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Condiciones Legales</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Política de Privacidad</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Uso de servicio</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Política de cookies</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Mapa web</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Gestionar preferencias y cookies</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Sobre InfoJobs</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs hoy</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Trabaja con nosotros</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Ofertas de empleo</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>+ InfoJobs</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs Awards</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Infojobs Academy</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Orientación laboral</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">InfoJobs Formación</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Blog empresas</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Oferte di laboro in Italia</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
            <div class="col-md-3">
                <mat-nav-list>
                    <span matListItemTitle>Prensa</span>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Indicadores de Infojobs</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Notas de prensa</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">Contacto de prensa</a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>
    </div>
</footer>