<footer>
    <div class="container-md">
        <div class="row d-none d-md-flex">
            <mat-nav-list class="col-md-3" *ngFor="let itemCol of footerCols">
                <span matListItemTitle>{{itemCol.Title}}</span>
                <div *ngFor="let itemColItem of itemCol.WFtrLinksSectionColItem">
                    <mat-list-item>
                        <a matListItemTitle href="https://www.google.com/?hl=es">{{itemColItem.Title}}</a>
                    </mat-list-item>
                </div>
            </mat-nav-list>

            <div class="external-links-container">
                <div class="social-media-md-container">
                    <div>
                        <span><b>¡Síguenos!</b></span>
                    </div>
                    <div class="social-media-icons-md">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-youtube"></i>
                    </div>
                </div>
                <div class="app-link-md">
                    <div>
                        <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                            <img src="assets/images/footer/gplay_link.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                            <img src="assets/images/footer/app_store_link.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="partner-container">
                <span>InfoJobs es partner de</span>
                <div class="partner-list">
                    <span>JobisJob</span>
                    <span>Fotocasa</span>
                    <span>habitaclia</span>
                    <span>Coches.net</span>
                    <span>Motos.net</span>
                    <span>Milanuncios</span>
                </div>
                <span>© Adevinta Jobs S.L.U.</span>
            </div>
        </div>

        <div class="d-block d-md-none">
            <div class="small-links">
                <span>Ayuda</span>
                <span>Condiciones legales</span>
                <span>Mapa web</span>
            </div>

            <div class="social-media-icons-sm">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter-x"></i>
                <i class="bi bi-youtube"></i>
            </div>

            <div class="app-link-sm">
                <div>
                    <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                        <img src="assets/images/footer/gplay_link.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://infojobs.onelink.me/2882600328/rjh2wn2f" target="_blank" rel="noopener">
                        <img src="assets/images/footer/app_store_link.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>